doctype html
html(lang='en')

  block head
    head
      meta(charset='UTF-8')
      // For Resposive Device
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      // For IE
      meta(http-equiv='X-UA-Compatible', content='IE=edge')

      block head_title
     		title
     			| Index layout
      
      block head_description
      	meta(name='description', content= seo.description)

      include ../blocks/__stylesheets.pug

  block body
    body
      .main-page-wrapper
        block body_header
          // Header Top _________________________________
          include ../blocks/header/top.pug
          
        block body_admenu
          // Menu + Banner _________________________________
          .banner-ad-menu
            .theme-menu-fix-banner
              .container
                // Theme Main Menu ____________________________
                include ../blocks/nav/header.pug
                // /.main-menu
              // /.container main-menu
            // /.theme-menu-fix-banner

            block body_banner
              // Theme Main Banner ____________________________
              include ../blocks/header/banner.pug
              // /.banner-ad-menu
        
        block body_content
          // business section ____________________________
          include ../blocks/content/business.pug
          // Service Offer ____________________________
          include ../blocks/content/services.pug
          // Events Section ____________________________
          include ../blocks/content/events.pug
          // Choose Section ____________________________
          include ../blocks/content/choose-us.pug
          // Home Gallery ____________________________
          include ../blocks/content/gallery.pug
          // Number Section ____________________________
          include ../blocks/content/numbers.pug

          // Home Client Claider ____________________________
          include ../blocks/content/testimonials.pug
          // Home Form Section ____________________________
          include ../blocks/content/contact-form.pug
          // Latest News Section ____________________________
          include ../blocks/content/news.pug
          // home Logo Slide ____________________________
          include ../blocks/content/logos.pug
        
        block body_footer
          // home Footer section ____________________________
          include ../blocks/nav/footer.pug
      
      block body_scroll
        // /.main-page-wrapper
        // Scroll Top Button
        button.scroll-top.tran7s.p-color-bg
          i.fa.fa-angle-up(aria-hidden='true')
        // pre loader
        #loader-wrapper
          #loader

      include ../blocks/__scripts.pug